Repository school-interview/school-interview-system, pull requests merged in 2024-12, with the labels that each got.

#208 ISSUEにラベルをつける作業を自動化する
  .github/ISSUE_TEMPLATE/normal_template.yaml
  .github/labeler-issue.yaml
  .github/workflows/labeler-issue.yaml
Labels: type/improvement, related/github

#211 .create()が誤字っていました
  backend/src/usecases/auth/login.py
Labels: related/backend, type/bug

#212 [面談画面] UIレイアウトの見直し
  client/lib/view/interview/interview_view.dart
Labels: related/client, type/feature

#216 [面談結果画面] セッションIDを表示する
  client/lib/notifier/avatar_select_view/avatar_select_view_notifier.g.dart
  client/lib/notifier/interview_analytics_view/interview_analytics_view_notifier.dart
  client/lib/notifier/interview_analytics_view/interview_analytics_view_notifier.g.dart
  client/lib/notifier/interview_report/interview_report_notifier.g.dart
  client/lib/notifier/interview_report/interview_report_state.freezed.dart
  client/lib/notifier/interview_view/interview_view_notifier.g.dart
  client/lib/notifier/login/login_notifier.g.dart
  client/lib/notifier/login/login_state.freezed.dart
  client/lib/notifier/profile_input_view/profile_input_view_notifier.g.dart
  client/lib/view/avatar_select/avatar_select_view_state.freezed.dart
  client/lib/view/interview/interview_view_state.freezed.dart
  client/lib/view/interview_analytics/interview_analytics_view.dart
  client/lib/view/interview_analytics/interview_analytics_view_state.dart
  client/lib/view/interview_analytics/interview_analytics_view_state.freezed.dart
  client/lib/view/profile_input/profile_input_view_state.freezed.dart
  client/macos/Flutter/GeneratedPluginRegistrant.swift
  client/pubspec.lock
Labels: related/client, type/feature

#217 面談結果画面にGoogleアンケートフォームへ遷移するボタンを実装しました
  client/lib/view/interview_analytics/interview_analytics_view.dart
  client/linux/flutter/generated_plugin_registrant.cc
  client/linux/flutter/generated_plugins.cmake
  client/macos/Flutter/GeneratedPluginRegistrant.swift
  client/pubspec.yaml
  client/windows/flutter/generated_plugin_registrant.cc
  client/windows/flutter/generated_plugins.cmake
Labels: related/client, type/feature

#218 Googleフォーム修正
  client/android/app/src/main/kotlin/com/example/client/MainActivity.kt
  client/pubspec.lock
Labels: related/client, type/bug

#219 実験のため一時的にカメラ機能を排除しました
  client/lib/notifier/interview_view/interview_view_notifier.dart
  client/lib/view/avatar_select/avatar_select_view.dart
  client/lib/view/interview/interview_view.dart
Labels: related/client, type/bug

#220 ドキュメントを整える
  README-ja.md
  README.md
  client/.gitignore
  client/README-ja.md
  client/README.md
  client/unity/README.md
  readme-img/avatar.png
Labels: related/client, type/improvement, related/documentation

#225 Chromaのpersistence
  llm-service/src/main.py
  llm-service/src/utils/format_docs.py
Labels: type/feature

#226 対話文生成をLLM Serviceを使用するように変更
  backend/docker-compose.yml
  backend/launch-server-docker.sh
  backend/src/models/__init__.py
  backend/src/models/api_models/requests/llm_service_interview_request_model.py
  backend/src/models/db_models/admin_model.py
  backend/src/models/db_models/user_model.py
  backend/src/usecases/interview/finish_interview.py
  backend/src/usecases/interview/speak_to_teacher.py
  client/macos/Flutter/GeneratedPluginRegistrant.swift
  llm-service/src/main.py
Labels: related/client, related/backend, type/bug
