Repository school-interview/school-interview-system, pull requests merged in 2025-02, with the labels that each got.

#231 extraction後にboolはjson()で変換されるため，自前の変換ロジックは必要なかった
  backend/src/usecases/interview/speak_to_teacher.py
Labels: related/backend, type/bug

#233 backendのREADMEの日本語化
  README-ja.md
  README.md
  backend/README.md
  backend/images/how-to-delete-image1.png
  backend/images/how-to-delete-image2.png
Labels: related/backend, related/documentation, type/bug

#234 教員からアバターに名称変更
  client/api_clients/lib/model/interview_session.dart
  client/lib/notifier/avatar_select_view/avatar_select_view_notifier.dart
  client/lib/notifier/avatar_select_view/avatar_select_view_notifier.g.dart
  client/lib/notifier/interview_analytics_view/interview_analytics_view_notifier.g.dart
  client/lib/notifier/interview_report/interview_report_notifier.g.dart
  client/lib/notifier/interview_report/interview_report_state.freezed.dart
  client/lib/notifier/interview_view/interview_view_notifier.g.dart
  client/lib/notifier/login/login_notifier.g.dart
  client/lib/notifier/login/login_state.freezed.dart
  client/lib/notifier/profile_input_view/profile_input_view_notifier.g.dart
  client/lib/repository/avatar/avatar_repository.dart
  client/lib/repository/avatar/avatar_repository_impl.dart
  client/lib/repository/teacher/teacher_repository.dart
  client/lib/view/avatar_select/avatar_select_view.dart
  client/lib/view/avatar_select/avatar_select_view_state.dart
  client/lib/view/avatar_select/avatar_select_view_state.freezed.dart
  client/lib/view/interview/interview_view_state.freezed.dart
  client/lib/view/interview_analytics/interview_analytics_view_state.freezed.dart
  client/lib/view/profile_input/profile_input_view_state.freezed.dart
  client/pubspec.lock
Labels: related/client, type/improvement
